.Product {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: flex-end;
  width: 240px; 
  height: 360px; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
}

.catalog-info {
  background-color: rgba(29, 28, 28, .6);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120px;
}

.catalog-info:hover {
  opacity: 0;
}

p {
  margin: 3px;
}